@media (min-width: 320px){

//primera parte

.secundario {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

  

   h2 {
   
    padding: 0;
    margin: 0;
    font-size: 2rem;
    
  }

  .primeraSeccion {

    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

   p {

    color:$colordelp;
    padding: 1rem;
    font-size: 1.5rem;

  }

  img {
    margin: 0;
    height: 25rem;
    width: 15rem;
  }
}
}

//cajas index

.cajaIndex{

  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
padding: 2rem;

.caja1{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
padding: 1rem;

.imgCaja1{

 width: 15rem;
 height: 15rem;

}

.textoCajaSup{

 display: flex;
justify-content: center;
align-content: center;
 p {
   color:white;
   padding: 0;
   font-size: 1.5rem;
   text-align: center;
}

}

.listaCajaInf{

 display: flex;
 justify-content: center;
 align-items: center;

 ul{

li{
font-size: 1.5rem;
 color: white;

a{
cursor: pointer;
 text-decoration: none;
 color: white;

}

a:hover{
 
 color: rgb(167, 84, 7) ;
 background-color: white;

}
}

}

}

}

}

//segunda parte


  .terciario {

    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    p {

        color:$colordelp;
        padding: 1rem;
        font-size: 1.5rem;
    
      }

  .tercerTitulo {
    color: $colordelh2yh3;
    padding: 0;
    background-color: black;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .segundaSeccion {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  

   img {

    width: 15rem;
    height: 20rem;
  }
}
}
  

//titulo de page de inscripcion

.tituloSecundarioInscripcion{
  margin-top: 3rem;
    display: flex;
  justify-content: center;
  align-content: center ;
  
  h2{
  
    padding: 0;
      margin: 0;
      font-size: 2rem;  
  color: $colordelh2yh3;
  background-color: $backGroundTitulos;
  text-align: center;
  }
  
  }
  
  .atencion{
  margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    p{
  text-align: center;
      color: white;
  font-size: 2rem;
  background-color: black;
    }
  
  }
  
  //tituloH2PageMadera
  
  .tituloMadera{
  
    margin-top: 3rem;
    display: flex;
  justify-content: center;
  align-content: center ;
 
  h2{
  
    padding: 0;
      margin: 0;
      font-size: 2rem;  
  color: $colordelh2yh3;
  background-color: $backGroundTitulos;
  text-align: center;
  }
  
  
  }
  
  .tituloPau{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 1.5rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaPau{
  
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
  
    height: 20rem;
    width: 15rem;
  
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }
  
  .tituloGuayu{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaGuayubi{
  
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
  
    height: 20rem;
    width: 15rem;
  
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }
  
  .tituloGuaya{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaGuayan{
  
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  img{
  
    height: 20rem;
    width: 15rem;
  
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }
  
  
  .tituloParais{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaparaiso{
  
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
  
    height: 20rem;
    width: 15rem;
  
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }


///video del contacto

.videoDelContacto {

  display: flex;
  justify-content: center;
  margin-top: 3rem;
align-items: center;
  flex-direction: column;
p{
padding-left: 1rem;
    color: $colordelp;
    font-size: 1.5rem;
  }

video {

  height: 20rem;
padding-right: 1rem;

}

}

//formulario

.bloqueFormu {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  

  form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  

  .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

  label {

    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input2 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

   label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input3 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

  label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input4 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

   label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  textarea {

    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }

  .buttonContacto {

    display: flex;
    width: 100%;
    justify-content: center;

    align-content: center;

  

  button {
    margin-top: 3rem;
    width: 30%;
    height: 8rem;
  }
}
}
}
} 

//mapa

  .contenedorMapa {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  

  h3 {

    color: $colordelh2yh3;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    background-color:$backGroundTitulos;
    margin-bottom: 3rem;
  }
  

  iframe {

    width: 90%;

  }

}

//galeria de productos y reparaciones

  .imagenesProdContenedor {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  

  h3 {

    color: $colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  p {

    color:$colordelp;
    padding: 1rem;
    font-size: 1.5rem;

  }

img{

  width: 15rem;
height: 20rem;
}

}

.sectionReparaciones{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;

  h3 {

    color: $colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;

  }

  img{

    width: 10rem;
  height: 12rem;
  }

}

//video clientes page productos

.videosPrueba{
  width: 100%;
  height: 100%;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
  flex-direction: column;
    align-items: center;
  
    video{
  width: auto;
    height: 20rem;
      
      padding-left: 1rem;
      padding-right: 2rem;
      margin-top: 1rem;
  
  }
  
  }

  .videoLaud{
    flex-direction: column;
      display: flex;
    margin-top: 2rem;
     justify-content: center;
     align-items: center;
    
     p {
    
      color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
    
    }
    
    video{
    
      height: 20rem;
      width: 80%;
    
    }
    
    }

  .videosClientes {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  

  

  .ukeYGuitarra {

    display: flex;
    justify-content: center;
    flex-direction: column;

  

  .videoUke {

    height: 20rem;
    width: auto;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1rem;
  }

  .videoGuitarra {
    margin-top: 1rem;
    height: 20rem;
    width: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

}

}



@media (min-width: 600px){

    //primera parte

  .secundario {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;

  

   h2 {
    
    padding: 0;
    margin: 0;
    font-size: 2rem;
    
  }

  .primeraSeccion {

    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    p {

      color: $colordelp;
      padding: 1rem;
      font-size: 1.5rem;
  
      img {
        margin: 0;
        padding-left: 1rem;
        height: 25rem;
        width: 15rem;
      }
    }
  
  }

}

//cajas index

.cajaIndex{

  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
padding: 2rem;

.caja1{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
padding: 1rem;

.imgCaja1{

 width: 20rem;
 height: 15rem;

}

.textoCajaSup{

 display: flex;
justify-content: center;
align-content: center;
 p {
   color:white;
   padding: 0;
   font-size: 1.5rem;
   text-align: center;
}

}

.listaCajaInf{

 display: flex;
 justify-content: center;
 align-items: center;

 ul{

li{
font-size: 1.5rem;
 color: white;

a{
cursor: pointer;
 text-decoration: none;
 color: white;

}

a:hover{
 
 color: rgb(167, 84, 7) ;
 background-color: white;

}
}

}

}

}

}

//segunda parte

  .terciario {

    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  
    p {

        color:$colordelp;
        padding: 1rem;
        font-size: 1.5rem;
    
      }

  h3 {
    color:$colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .segundaSeccion {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  

  img {

    width: 30rem;
    height: 20rem;
  }
}
}

//titulo de page de inscripcion

.tituloSecundarioInscripcion{
  margin-top: 3rem;
    display: flex;
  justify-content: center;
  align-content: center ;
  
  h2{
  
    padding: 0;
      margin: 0;
      font-size: 2rem;  
  color: $colordelh2yh3;
  background-color: $backGroundTitulos;
  text-align: center;
  }
  
  }
  
  .atencion{
  margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    p{
  text-align: center;
      color: white;
  font-size: 2rem;
  background-color: black;
    }
  
  }
  
  //tituloH2PageMadera
  
  .tituloMadera{
  
    margin-top: 3rem;
    display: flex;
  justify-content: center;
  align-content: center ;
 
  h2{
  
    padding: 0;
      margin: 0;
      font-size: 2rem;  
  color: $colordelh2yh3;
  background-color: $backGroundTitulos;
  text-align: center;
  }
  
  
  }
  
  .tituloPau{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 1.5rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaPau{
  
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
  
    height: 30rem;
    width: 20rem;
  
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }
  
  .tituloGuayu{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaGuayubi{
  
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
  
    height: 30rem;
    width: 20rem;
 
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }
  
  .tituloGuaya{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaGuayan{
  
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
  
    height: 30rem;
    width: 20rem;
  
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }
  
  
  .tituloParais{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaparaiso{
  
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
  
    height: 30rem;
    width: 20rem;
  
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }


///video del contacto

.videoDelContacto {

  display: flex;
  justify-content: center;
  margin-top: 3rem;
align-items: center;
  flex-direction: column;
p{
padding-left: 1rem;
    color: $colordelp;
    font-size: 1.5rem;
  }

video {

  height: 20rem;
padding-right: 1rem;

}

}

//formulario

.bloqueFormu {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  

  form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  

  .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

   label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input2 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

 label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input3 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

  label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input4 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

  label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  textarea {

    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }

  .buttonContacto {

    display: flex;
    width: 100%;
    justify-content: center;

    align-content: center;

    button {
      margin-top: 3rem;
      width: 15%;
      height: 8rem;
    }
  }

}
}
}

//mapa

.contenedorMapa {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  

  h3 {

    color: $colordelh2yh3;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    background-color: $backGroundTitulos;
    margin-bottom: 3rem;

  }

  iframe {

    width: 90%;

  }

}

//galeria de imagenes de productos y reparaciones
  
.imagenesProdContenedor {

    display: flex;
    justify-content: center;
    flex-direction: column;
  

  h3 {

    color: $colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  p {

    color:$colordelp;
    padding: 1rem;
    font-size: 1.5rem;

  }

}
  
//videos de clientes page prouctos

.videosPrueba{
width: 100%;
height: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
flex-direction: column;
  align-items: center;

  video{
width: auto;
  height: 20rem;
    
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1rem;

}

}

.videoLaud{
  flex-direction: column;
    display: flex;
  margin-top: 2rem;
   justify-content: center;
   align-items: center;
  
   p {
  
    color:$colordelp;
    padding: 1rem;
    font-size: 1.5rem;
  
  }
  
  video{
  
    height: 20rem;
    width: 80%;
  
  }
  
  }

.videosClientes {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  

   

  .ukeYGuitarra {

    display: flex;
    justify-content: center;
    flex-direction: column;

  
.videoUke {

    height: 20rem;
    width: auto;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1rem;
  }

  .videoGuitarra {
    margin-top: 1rem;
    height: 20rem;
    width: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

}

}


}


@media (min-width: 768px){

    //primera parte

  .secundario {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;

 h2 {
    
    padding: 0;
    margin: 0;
    font-size: 2rem;
    
  }

  .primeraSeccion {

    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
p {

    color: $colordelp;
    padding: 1rem;
    font-size: 2rem;

  

  img {
    margin: 0;
    padding-left: 1rem;
    height: 25rem;
    width: 15rem;
  }
}
}
}

//cajas index

.cajaIndex{

  display: flex;
justify-content: center;
flex-direction: row;
align-items: center;


.caja1{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;


.imgCaja1{

 width: 20rem;
 height: 20rem;

}

.textoCajaSup{

 display: flex;
justify-content: center;
align-content: center;
 p {
   color:white;
   padding: 0;
   font-size: 1.5rem;
   text-align: center;
}

}

.listaCajaInf{

 display: flex;
 justify-content: center;
 align-items: center;

 ul{

li{
font-size: 1.5rem;
 color: white;

a{
cursor: pointer;
 text-decoration: none;
 color: white;

}

a:hover{
 
 color: rgb(167, 84, 7) ;
 background-color: white;

}
}

}

}

}

}
  
//segunda parte


.terciario {

    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  
    p {

        color:$colordelp;
        padding: 1rem;
        font-size: 2rem;
    
      }


  h3 {
    color: $colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .segundaSeccion {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  

  img {

    width: 30rem;
    height: 20rem;
  }
}
}

//titulo de page de inscripcion

.tituloSecundarioInscripcion{
  margin-top: 3rem;
    display: flex;
  justify-content: center;
  align-content: center ;
  
  h2{
  
    padding: 0;
      margin: 0;
      font-size: 2rem;  
  color: $colordelh2yh3;
  background-color: $backGroundTitulos;
  text-align: center;
  }
  
  }
  
  .atencion{
  margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    p{
  text-align: center;
      color: white;
  font-size: 2rem;
  background-color: black;
    }
  
  }
  
  //tituloH2PageMadera
  
  .tituloMadera{
  
    margin-top: 3rem;
    display: flex;
  justify-content: center;
  align-content: center ;
  
  h2{
  
    padding: 0;
      margin: 0;
      font-size: 2rem;  
  color: $colordelh2yh3;
  background-color: $backGroundTitulos;
  text-align: center;
  }
  
  
  }
  
  .tituloPau{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 1.5rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaPau{
  
    display: flex;
  
  img{
  
    height: 30rem;
    width: 20rem;
  padding-left: 1rem;
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }
  
  .tituloGuayu{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaGuayubi{
  
    display: flex;
  
  img{
  
    height: 30rem;
    width: 20rem;
  padding-left: 1rem;
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }
  
  .tituloGuaya{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaGuayan{
  
    display: flex;
  
  img{
  
    height: 30rem;
    width: 20rem;
  padding-left: 1rem;
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }
  
  
  .tituloParais{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaparaiso{
  
    display: flex;
  
  img{
  
    height: 30rem;
    width: 20rem;
  padding-left: 1rem;
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 1.5rem;
      
  
  }
  
  }

//video del contacto

.videoDelContacto {

  display: flex;
  justify-content: center;
  margin-top: 3rem;
align-items: center;
flex-direction: row; 
p{
padding-left: 1rem;
    color: $colordelp;
    font-size: 2.5rem;
  }

video {

  height: 30rem;
padding-right: 1rem;

}

}

//formulario

.bloqueFormu {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  

  form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  

  .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

  label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input2 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

  label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

   input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input3 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

 label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input4 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

 label {

    font-size: 2rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

 textarea {

    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }

  .buttonContacto {

    display: flex;
    width: 100%;
    justify-content: center;

    align-content: center;

    button {
      margin-top: 3rem;
      width: 15%;
      height: 8rem;
    }
  }

}

}

}

  .contenedorMapa {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  

   h3 {

    color:$colordelh2yh3;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    background-color: $backGroundTitulos;
    margin-bottom: 3rem;

  }

  iframe {

    width: 90%;

  }

}

//galeria de imagenes de produccion y reparacion page productos
  .imagenesProdContenedor {

    display: flex;
    justify-content: center;
    flex-direction: column;
  

  h3 {

    color: $colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  p {

    color: $colordelp;
    padding: 1rem;
    font-size: 2rem;
}
}

//videos de clientes page productos

.videosPrueba{

  display: flex;
  margin-top: 2rem;
 flex-direction: row;

  video{

  height: 20rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;

}

}

.videoLaud{
flex-direction: row;
  display: flex;
margin-top: 5rem;
 
 
p {

  color:$colordelp;
  padding: 1rem;
  font-size: 2rem;

}

video{

  height: 20rem;
  width: 80%;

}

}

  .videosClientes {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  

   

  .ukeYGuitarra {

    display: flex;
    justify-content: center;
    flex-direction: row;
  

  .videoUke {

    height: 20rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .videoGuitarra {

    height: 20rem;
    width: 50%;
    padding-right: 1rem;
    padding-left: 2rem;
  }
}
}

}


@media (min-width: 1024px){

    //primera parte

  .secundario {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;

  

  h2 {
    
    padding: 0;
    margin: 0;
    font-size: 4rem;
    
  }

  .primeraSeccion {

    display: flex;
    padding: 3rem;
    margin-top: 3rem;
    flex-direction: row;

   p {

    color:$colordelp;
    padding: 1rem;
    font-size: 2.5rem;

  }

   img {
    margin: 0;
    padding-left: 1rem;
    height: 30rem;
    width: auto;
  }

}
}

//nuevas cajas

.cajaIndex{

   display: flex;
justify-content: center;
flex-direction: row;
align-items: center;


.caja1{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;


.imgCaja1{

  width: 20rem;
  height: 20rem;

}

.textoCajaSup{

  display: flex;
justify-content: center;
align-content: center;
  p {
    color:white;
    padding: 0;
    font-size: 2rem;
    text-align: center;
}

}

.listaCajaInf{

  display: flex;
  justify-content: center;
  align-items: center;

  ul{

li{
font-size: 2rem;
  color: white;

a{
cursor: pointer;
  text-decoration: none;
  color: white;

}

a:hover{
  
  color: rgb(167, 84, 7) ;
  background-color: white;

}
}
 
}

}

}

}

//ssgunda parte



.terciario {

    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  
    p {

        color:$colordelp;
        padding: 1rem;
        font-size: 2.5rem;
    
      }

  h3 {
    color:$colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .resoluDesktop{

  display: flex;
  

  .segundaSeccion {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   img {

    width: 40rem;
    height: 20rem;
  }
}
}
}


//titulo de page de inscripcion

.tituloSecundarioInscripcion{
margin-top: 3rem;
  display: flex;
justify-content: center;
align-content: center ;

h2{

  padding: 0;
    margin: 0;
    font-size: 3rem;  
color: $colordelh2yh3;
background-color: $backGroundTitulos;
text-align: center;
}

}

.atencion{
margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
text-align: center;
    color: white;
font-size: 2rem;
background-color: black;
  }

}

//tituloH2PageMadera

.tituloMadera{

  margin-top: 3rem;
  display: flex;
justify-content: center;
align-content: center ;

h2{

  padding: 0;
    margin: 0;
    font-size: 3rem;  
color: $colordelh2yh3;
background-color: $backGroundTitulos;
text-align: center;
}


}

.tituloPau{

  margin-top: 3rem;
  display: flex;
  justify-content: baseline;
margin-bottom: 2rem;
  h3{

    font-size: 2rem;
    color: $colordelh2yh3;
    background-color: $backGroundTitulos;

  }

}

.maderaPau{

  display: flex;

img{

  height: 30rem;
  width: 20rem;
padding-left: 1rem;
}

p{
text-align: center;
  color:$colordelp;
    padding: 1rem;
    font-size: 2rem;
    

}

}

.tituloGuayu{

  margin-top: 3rem;
  display: flex;
  justify-content: baseline;
margin-bottom: 2rem;
  h3{

    font-size: 2rem;
    color: $colordelh2yh3;
    background-color: $backGroundTitulos;

  }

}

.maderaGuayubi{

  display: flex;

img{

  height: 30rem;
  width: 20rem;
padding-left: 1rem;
}

p{
text-align: center;
  color:$colordelp;
    padding: 1rem;
    font-size: 2rem;
    

}

}

.tituloGuaya{

  margin-top: 3rem;
  display: flex;
  justify-content: baseline;
margin-bottom: 2rem;
  h3{

    font-size: 2rem;
    color: $colordelh2yh3;
    background-color: $backGroundTitulos;

  }

}

.maderaGuayan{

  display: flex;

img{

  height: 30rem;
  width: 20rem;
padding-left: 1rem;
}

p{
text-align: center;
  color:$colordelp;
    padding: 1rem;
    font-size: 2rem;
    

}

}


.tituloParais{

  margin-top: 3rem;
  display: flex;
  justify-content: baseline;
margin-bottom: 2rem;
  h3{

    font-size: 2rem;
    color: $colordelh2yh3;
    background-color: $backGroundTitulos;

  }

}

.maderaparaiso{

  display: flex;

img{

  height: 30rem;
  width: 20rem;
padding-left: 1rem;
}

p{
text-align: center;
  color:$colordelp;
    padding: 1rem;
    font-size: 2rem;
    

}

}

//video del contacto

.videoDelContacto {

  display: flex;
  justify-content: center;
  margin-top: 3rem;
align-items: center;
flex-direction: row; 
p{
padding-left: 1rem;
    color: $colordelp;
    font-size: 2.5rem;
  }

video {

  height: 30rem;
padding-right: 1rem;

}

}

//formulario

.bloqueFormu {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  

  form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  

  .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

   label {

    font-size: 4rem;
    color:$colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

   input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input2 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

  label {

    font-size: 4rem;
    color:$colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input3 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

label {

    font-size: 4rem;
    color:$colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

 input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input4 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

  label {

    font-size: 4rem;
    color:$colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

 textarea {

    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }

  .buttonContacto {

    display: flex;
    width: 100%;
    justify-content: center;

    align-content: center;

    button {
      margin-top: 3rem;
      width: 15%;
      height: 8rem;
  }
}
}
  }
}

// mapa

  .contenedorMapa {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  

   h3 {

    color: $colordelh2yh3;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    background-color: $backGroundTitulos;
    margin-bottom: 3rem;

  }

   iframe {

    width: 90%;

  }

}

// galeria de imagenes de productos y reparaciones
  .imagenesProdContenedor {

    display: flex;
    justify-content: center;
    flex-direction: column;
  

  h3 {

    color: $colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  p {

    color:$colordelp;
    padding: 1rem;
    font-size: 2rem;

  }

  img{

    width: 40rem;
height: 40rem;
  }

}

.sectionReparaciones{

  h3 {

    color: $colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  img{

    width: 30rem;
height: 30rem;

  }

}

//video de clientes page productos

.videosPrueba{

  display: flex;
  margin-top: 2rem;

video{

  height: 30rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;

}

}

.videoLaud{

  display: flex;
margin-top: 5rem;
 p {

  color:$colordelp;
  padding: 1rem;
  font-size: 2rem;

}

video{

  height: 30rem;
  width: 100%;
padding-right: 2rem;
}

}

  .videosClientes {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  

   

  .ukeYGuitarra {

    display: flex;
    justify-content: center;
  

  .videoUke {

    height: 30rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .videoGuitarra {

    height: 30rem;
    width: 50%;
    padding-right: 1rem;
    padding-left: 2rem;
  }
}
}

}


@media (min-width: 1200px){

    //primera parte

  .secundario {

    display: flex;
    flex-direction: column;

  

  .primeraSeccion {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "primeraSeccion";
    border: solid 1px white;
    align-items: center;
    justify-items: center;
  }

  .primeraSeccion {

    grid-area: primeraSeccion;

  }



}
//nuevas cajas

.cajaIndex{

  display: flex;
justify-content: center;
flex-direction: row;
align-items: center;


.caja1{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;


.imgCaja1{

 width: 20rem;
 height: 20rem;

}

.textoCajaSup{

 display: flex;
justify-content: center;
align-content: center;
 p {
   color:white;
   padding: 0;
   font-size: 2rem;
   text-align: center;
}

}

.listaCajaInf{

 display: flex;
 justify-content: center;
 align-items: center;

 ul{

li{
font-size: 2rem;
 color: white;

a{
cursor: pointer;
 text-decoration: none;
 color: white;

}

a:hover{
 
 color: rgb(167, 84, 7) ;
 background-color: white;

}
}

}

}

}

}


//ssgunda parte



.terciario {

  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  p {

    color:$colordelp;
    padding: 1rem;
    font-size: 2.5rem;
  }

h3 {
  color:$colordelh2yh3;
  padding: 0;
  background-color: $backGroundTitulos;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.resoluDesktop{

display: flex;


.segundaSeccion {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 img {

  width: 40rem;
  height: 20rem;
}
}
}
}


//titulo de page de inscripcion

.tituloSecundarioInscripcion{
  margin-top: 3rem;
    display: flex;
  justify-content: center;
  align-content: center ;
  
  h2{
  
    padding: 0;
      margin: 0;
      font-size: 3rem;  
  color: $colordelh2yh3;
  background-color: $backGroundTitulos;
  text-align: center;
  }
  
  }
  
  .atencion{
  margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    p{
  text-align: center;
      color: white;
  font-size: 2rem;
  background-color: black;
    }
  
  }
  
  //tituloH2PageMadera
  
  .tituloMadera{
  
    margin-top: 3rem;
    display: flex;
  justify-content: center;
  align-content: center ;
  
  h2{
  
    padding: 0;
      margin: 0;
      font-size: 3rem;  
  color: $colordelh2yh3;
  background-color: $backGroundTitulos;
  text-align: center;
  }
  
  
  }
  
  .tituloPau{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaPau{
  
    display: flex;
  
  img{
  
    height: 30rem;
    width: 20rem;
  padding-left: 1rem;
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 2rem;
      
  
  }
  
  }
  
  .tituloGuayu{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaGuayubi{
  
    display: flex;
  
  img{
  
    height: 30rem;
    width: 20rem;
  padding-left: 1rem;
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 2rem;
      
  
  }
  
  }
  
  .tituloGuaya{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaGuayan{
  
    display: flex;
  
  img{
  
    height: 30rem;
    width: 20rem;
  padding-left: 1rem;
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 2rem;
      
  
  }
  
  }
  
  
  .tituloParais{
  
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
  margin-bottom: 2rem;
    h3{
  
      font-size: 2rem;
      color: $colordelh2yh3;
      background-color: $backGroundTitulos;
  
    }
  
  }
  
  .maderaparaiso{
  
    display: flex;
  
  img{
  
    height: 30rem;
    width: 20rem;
  padding-left: 1rem;
  }
  
  p{
  text-align: center;
    color:$colordelp;
      padding: 1rem;
      font-size: 2rem;
      
  
  }
  
  }

//video del contacto

.videoDelContacto {

  display: flex;
  justify-content: center;
  margin-top: 3rem;
align-items: center;
flex-direction: row;  
p{
padding-left: 1rem;
    color: $colordelp;
    font-size: 2.5rem;
  }

video {

  height: 30rem;
padding-right: 1rem;

}

}

//formulario
.bloqueFormu {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
margin-top: 3rem;
  

  form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  

  .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

   label {

    font-size: 4rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input2 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

  label {

    font-size: 4rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

   input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
  .input3 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  

 label {

    font-size: 4rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

 input {

    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
}
 
.input4 {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  
    label {

    font-size: 4rem;
    color: $colordelLabel;
    background-color: $backGroundDelLabel;
    margin-bottom: 2rem;
  }

  textarea {

    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }

  .buttonContacto {

    display: flex;
    width: 100%;
    justify-content: center;

    align-content: center;

    button {
      margin-top: 3rem;
      width: 15%;
      height: 8rem;
    }
  }

}
}
}

//maa page contacto
  .contenedorMapa {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  

   h3 {

    color: $colordelh2yh3;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    background-color:$backGroundTitulos;
    margin-bottom: 3rem;

  }

   iframe {

    width: 90%;

  }

}

//galeria de productos y reparaciones page productos

  .imagenesProdContenedor {

    display: flex;
    justify-content: center;
    flex-direction: column;
  
    

  h3 {

    color: $colordelh2yh3;
    padding: 0;
    background-color: $backGroundTitulos;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  

  p {

    color:$colordelp;
    padding: 1rem;
    font-size: 2rem;

  }

}


//video de clientes page productos

.videosPrueba{

  display: flex;
  margin-top: 2rem;

video{

  height: 30rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;

}

}

.videoLaud{

  display: flex;
margin-top: 5rem;
 p {

  color:$colordelp;
  padding: 1rem;
  font-size: 2rem;

}

video{

  height: 30rem;
  width: 100%;
padding-right: 2rem;
}

}

.videosClientes {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;


 

.ukeYGuitarra {

  display: flex;
  justify-content: center;


.videoUke {

  height: 30rem;
  width: 50%;
  padding-left: 1rem;
  padding-right: 2rem;
}

.videoGuitarra {

  height: 30rem;
  width: 50%;
  padding-right: 1rem;
  padding-left: 2rem;

}
}
}


}