@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
}

.secundario h2 {
  color: rgb(167, 84, 7);
  padding: 0;
  margin: 0;
  background-color: black;
  text-align: center;
}
@media (min-width: 320px) {
  .secundario h2 {
    font-size: 2rem;
  }
}
@media (min-width: 600px) {
  .secundario h2 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .secundario h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .secundario h2 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .secundario h2 {
    font-size: 3rem;
  }
}

.videosClientes h3 {
  color: rgb(167, 84, 7);
  padding: 0;
  margin: 0;
  background-color: black;
  text-align: center;
}
@media (min-width: 320px) {
  .videosClientes h3 {
    font-size: 2rem;
  }
}
@media (min-width: 600px) {
  .videosClientes h3 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .videosClientes h3 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .videosClientes h3 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .videosClientes h3 {
    font-size: 3rem;
  }
}

@media (min-width: 320px) {
  body {
    background-image: url("../img/imagenesProductos/images/fotofondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    display: flex;
  }
  header .principal {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  header .principal .bannerPrincipal {
    display: none;
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-content: center;
  }
  header .principal .bannerPrincipal .logo {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  header .principal .tituloPrincipal h1 {
    color: white;
    font-size: 4rem;
  }
}
@media (min-width: 600px) {
  body {
    background-image: url("../img/imagenesProductos/images/fotofondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    display: flex;
  }
  header .principal {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  header .bannerPrincipal {
    display: none;
    height: 8rem;
    width: 8rem;
    justify-content: center;
    align-content: center;
  }
  header .bannerPrincipal .logo {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  header .bannerPrincipal .tituloPrincipal {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  header .bannerPrincipal .tituloPrincipal h1 {
    color: white;
    font-size: 6rem;
  }
}
@media (min-width: 768px) {
  body {
    background-image: url("../img/imagenesProductos/images/fotofondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    display: flex;
  }
  header .principal {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  header .principal .bannerPrincipal {
    display: none;
    height: 8rem;
    width: 8rem;
    justify-content: center;
    align-content: center;
  }
  header .principal .bannerPrincipal .logo {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  header .principal .bannerPrincipal .tituloPrincipal {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  header .principal .bannerPrincipal .tituloPrincipal h1 {
    color: white;
    font-size: 6rem;
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url("../img/imagenesProductos/images/fotofondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    display: flex;
  }
  header .principal {
    display: flex;
    width: 100%;
    align-items: center;
  }
  header .principal .bannerPrincipal {
    display: flex;
    height: 8rem;
    width: 8rem;
    justify-content: center;
    align-content: center;
  }
  header .principal .bannerPrincipal .logo {
    margin: 0;
    height: 100%;
    width: 100%;
    visibility: visible;
  }
  header .principal .tituloPrincipal {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 7rem;
  }
  header .principal .tituloPrincipal h1 {
    color: white;
    font-size: 7rem;
  }
}
@media (min-width: 1200px) {
  body {
    background-image: url("../img/imagenesProductos/images/fotofondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "bannerPrincipal tituloPrincipal";
    border: solid 1px white;
  }
  header .principal {
    display: flex;
  }
  header .principal .bannerPrincipal {
    display: flex;
    grid-area: bannerPrincipal;
    height: 8rem;
    width: 8rem;
  }
  header .principal .bannerPrincipal .logo {
    margin-top: 0;
    margin-left: 0;
    height: 8rem;
    width: 8rem;
  }
  header .principal .tituloPrincipal {
    display: flex;
    grid-area: tituloPrincipal;
    justify-content: center;
    align-content: center;
    font-size: 3rem;
    color: white;
    width: 60rem;
  }
}
@media (min-width: 320px) {
  .secundario {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .secundario h2 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
  }
  .secundario .primeraSeccion {
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secundario .primeraSeccion p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 1.5rem;
  }
  .secundario .primeraSeccion img {
    margin: 0;
    height: 25rem;
    width: 15rem;
  }
  .terciario {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .terciario p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 1.5rem;
  }
  .terciario .tercerTitulo {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .terciario .segundaSeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .terciario .segundaSeccion img {
    width: 15rem;
    height: 20rem;
  }
  .videoDelContacto {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
  }
  .videoDelContacto p {
    padding-left: 1rem;
    color: rgba(245, 245, 220, 0.658);
    font-size: 1.5rem;
  }
  .videoDelContacto video {
    height: 20rem;
    padding-right: 1rem;
  }
  .bloqueFormu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bloqueFormu form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .bloqueFormu form .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input1 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input1 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input2 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input2 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input2 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input3 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input3 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input3 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input4 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input4 textarea {
    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 .buttonContacto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .bloqueFormu form .input4 .buttonContacto button {
    margin-top: 3rem;
    width: 30%;
    height: 8rem;
  }
  .contenedorMapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .contenedorMapa h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    margin: 0;
    font-size: 2rem;
    background-color: black;
    margin-bottom: 3rem;
  }
  .contenedorMapa iframe {
    width: 90%;
  }
  .imagenesProdContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .imagenesProdContenedor h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .imagenesProdContenedor p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 1.5rem;
  }
  .imagenesProdContenedor img {
    width: 15rem;
    height: 20rem;
  }
  .sectionReparaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .sectionReparaciones h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .sectionReparaciones img {
    width: 10rem;
    height: 12rem;
  }
  .videosPrueba {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .videosPrueba video {
    width: auto;
    height: 20rem;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1rem;
  }
  .videoLaud {
    flex-direction: column;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }
  .videoLaud p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 1.5rem;
  }
  .videoLaud video {
    height: 20rem;
    width: 80%;
  }
  .videosClientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }
  .videosClientes .ukeYGuitarra {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .videosClientes .ukeYGuitarra .videoUke {
    height: 20rem;
    width: auto;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1rem;
  }
  .videosClientes .ukeYGuitarra .videoGuitarra {
    margin-top: 1rem;
    height: 20rem;
    width: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 600px) {
  .secundario {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .secundario h2 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
  }
  .secundario .primeraSeccion {
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secundario .primeraSeccion p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 1.5rem;
  }
  .secundario .primeraSeccion p img {
    margin: 0;
    padding-left: 1rem;
    height: 25rem;
    width: 15rem;
  }
  .terciario {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .terciario p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 1.5rem;
  }
  .terciario h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .terciario .segundaSeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .terciario .segundaSeccion img {
    width: 30rem;
    height: 20rem;
  }
  .videoDelContacto {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;
  }
  .videoDelContacto p {
    padding-left: 1rem;
    color: rgba(245, 245, 220, 0.658);
    font-size: 1.5rem;
  }
  .videoDelContacto video {
    height: 20rem;
    padding-right: 1rem;
  }
  .bloqueFormu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bloqueFormu form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .bloqueFormu form .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input1 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input1 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input2 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input2 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input2 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input3 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input3 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input3 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input4 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input4 textarea {
    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 .buttonContacto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .bloqueFormu form .input4 .buttonContacto button {
    margin-top: 3rem;
    width: 15%;
    height: 8rem;
  }
  .contenedorMapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .contenedorMapa h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    margin: 0;
    font-size: 2rem;
    background-color: black;
    margin-bottom: 3rem;
  }
  .contenedorMapa iframe {
    width: 90%;
  }
  .imagenesProdContenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .imagenesProdContenedor h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .imagenesProdContenedor p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 1.5rem;
  }
  .videosPrueba {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .videosPrueba video {
    width: auto;
    height: 20rem;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1rem;
  }
  .videoLaud {
    flex-direction: column;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }
  .videoLaud p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 1.5rem;
  }
  .videoLaud video {
    height: 20rem;
    width: 80%;
  }
  .videosClientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  }
  .videosClientes .ukeYGuitarra {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .videosClientes .ukeYGuitarra .videoUke {
    height: 20rem;
    width: auto;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-top: 1rem;
  }
  .videosClientes .ukeYGuitarra .videoGuitarra {
    margin-top: 1rem;
    height: 20rem;
    width: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media (min-width: 768px) {
  .secundario {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .secundario h2 {
    padding: 0;
    margin: 0;
    font-size: 2rem;
  }
  .secundario .primeraSeccion {
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secundario .primeraSeccion p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .secundario .primeraSeccion p img {
    margin: 0;
    padding-left: 1rem;
    height: 25rem;
    width: 15rem;
  }
  .terciario {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .terciario p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .terciario h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .terciario .segundaSeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .terciario .segundaSeccion img {
    width: 30rem;
    height: 20rem;
  }
  .videoDelContacto {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    flex-direction: row;
  }
  .videoDelContacto p {
    padding-left: 1rem;
    color: rgba(245, 245, 220, 0.658);
    font-size: 2.5rem;
  }
  .videoDelContacto video {
    height: 30rem;
    padding-right: 1rem;
  }
  .bloqueFormu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bloqueFormu form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .bloqueFormu form .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input1 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input1 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input2 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input2 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input2 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input3 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input3 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input3 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input4 label {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input4 textarea {
    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 .buttonContacto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .bloqueFormu form .input4 .buttonContacto button {
    margin-top: 3rem;
    width: 15%;
    height: 8rem;
  }
  .contenedorMapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .contenedorMapa h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    margin: 0;
    font-size: 2rem;
    background-color: black;
    margin-bottom: 3rem;
  }
  .contenedorMapa iframe {
    width: 90%;
  }
  .imagenesProdContenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .imagenesProdContenedor h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .imagenesProdContenedor p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .videosPrueba {
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
  }
  .videosPrueba video {
    height: 20rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;
  }
  .videoLaud {
    flex-direction: row;
    display: flex;
    margin-top: 5rem;
  }
  .videoLaud p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .videoLaud video {
    height: 20rem;
    width: 80%;
  }
  .videosClientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  }
  .videosClientes .ukeYGuitarra {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .videosClientes .ukeYGuitarra .videoUke {
    height: 20rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;
  }
  .videosClientes .ukeYGuitarra .videoGuitarra {
    height: 20rem;
    width: 50%;
    padding-right: 1rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .secundario {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .secundario h2 {
    padding: 0;
    margin: 0;
    font-size: 4rem;
  }
  .secundario .primeraSeccion {
    display: flex;
    padding: 3rem;
    margin-top: 3rem;
    flex-direction: row;
  }
  .secundario .primeraSeccion p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2.5rem;
  }
  .secundario .primeraSeccion img {
    margin: 0;
    padding-left: 1rem;
    height: 30rem;
    width: auto;
  }
  .cajaIndex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .cajaIndex .caja1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .cajaIndex .caja1 .imgCaja1 {
    width: 20rem;
    height: 20rem;
  }
  .cajaIndex .caja1 .textoCajaSup {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .cajaIndex .caja1 .textoCajaSup p {
    color: white;
    padding: 0;
    font-size: 2rem;
    text-align: center;
  }
  .cajaIndex .caja1 .listaCajaInf {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cajaIndex .caja1 .listaCajaInf ul li {
    font-size: 2rem;
    color: white;
  }
  .cajaIndex .caja1 .listaCajaInf ul li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  .cajaIndex .caja1 .listaCajaInf ul li a:hover {
    color: rgb(167, 84, 7);
    background-color: white;
  }
  .terciario {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .terciario p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2.5rem;
  }
  .terciario h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .terciario .resoluDesktop {
    display: flex;
  }
  .terciario .resoluDesktop .segundaSeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .terciario .resoluDesktop .segundaSeccion img {
    width: 40rem;
    height: 20rem;
  }
  .videoDelContacto {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    flex-direction: row;
  }
  .videoDelContacto p {
    padding-left: 1rem;
    color: rgba(245, 245, 220, 0.658);
    font-size: 2.5rem;
  }
  .videoDelContacto video {
    height: 30rem;
    padding-right: 1rem;
  }
  .tituloSecundarioInscripcion {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .tituloSecundarioInscripcion h2 {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    color: rgb(167, 84, 7);
    background-color: black;
    text-align: center;
  }
  .atencion {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .atencion p {
    text-align: center;
    color: white;
    font-size: 2rem;
    background-color: black;
  }
  .tituloMadera {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .tituloMadera h2 {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    color: rgb(167, 84, 7);
    background-color: black;
    text-align: center;
  }
  .tituloPau {
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
    margin-bottom: 2rem;
  }
  .tituloPau h3 {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
  }
  .maderaPau {
    display: flex;
  }
  .maderaPau img {
    height: 30rem;
    width: 20rem;
    padding-left: 1rem;
  }
  .maderaPau p {
    text-align: center;
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .tituloGuayu {
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
    margin-bottom: 2rem;
  }
  .tituloGuayu h3 {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
  }
  .maderaGuayubi {
    display: flex;
  }
  .maderaGuayubi img {
    height: 30rem;
    width: 20rem;
    padding-left: 1rem;
  }
  .maderaGuayubi p {
    text-align: center;
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .tituloGuaya {
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
    margin-bottom: 2rem;
  }
  .tituloGuaya h3 {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
  }
  .maderaGuayan {
    display: flex;
  }
  .maderaGuayan img {
    height: 30rem;
    width: 20rem;
    padding-left: 1rem;
  }
  .maderaGuayan p {
    text-align: center;
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .tituloParais {
    margin-top: 3rem;
    display: flex;
    justify-content: baseline;
    margin-bottom: 2rem;
  }
  .tituloParais h3 {
    font-size: 2rem;
    color: rgb(167, 84, 7);
    background-color: black;
  }
  .maderaparaiso {
    display: flex;
  }
  .maderaparaiso img {
    height: 30rem;
    width: 20rem;
    padding-left: 1rem;
  }
  .maderaparaiso p {
    text-align: center;
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .bloqueFormu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bloqueFormu form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .bloqueFormu form .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input1 label {
    font-size: 4rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input1 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input2 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input2 label {
    font-size: 4rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input2 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input3 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input3 label {
    font-size: 4rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input3 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input4 label {
    font-size: 4rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input4 textarea {
    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 .buttonContacto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .bloqueFormu form .input4 .buttonContacto button {
    margin-top: 3rem;
    width: 15%;
    height: 8rem;
  }
  .contenedorMapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .contenedorMapa h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    margin: 0;
    font-size: 3rem;
    background-color: black;
    margin-bottom: 3rem;
  }
  .contenedorMapa iframe {
    width: 90%;
  }
  .imagenesProdContenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .imagenesProdContenedor h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .imagenesProdContenedor p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .imagenesProdContenedor img {
    width: 40rem;
    height: 40rem;
  }
  .sectionReparaciones h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .sectionReparaciones img {
    width: 30rem;
    height: 30rem;
  }
  .videosPrueba {
    display: flex;
    margin-top: 2rem;
  }
  .videosPrueba video {
    height: 30rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;
  }
  .videoLaud {
    display: flex;
    margin-top: 5rem;
  }
  .videoLaud p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .videoLaud video {
    height: 30rem;
    width: 100%;
    padding-right: 2rem;
  }
  .videosClientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  }
  .videosClientes .ukeYGuitarra {
    display: flex;
    justify-content: center;
  }
  .videosClientes .ukeYGuitarra .videoUke {
    height: 30rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;
  }
  .videosClientes .ukeYGuitarra .videoGuitarra {
    height: 30rem;
    width: 50%;
    padding-right: 1rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1200px) {
  .secundario {
    display: flex;
    flex-direction: column;
  }
  .secundario .primeraSeccion {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "primeraSeccion";
    border: solid 1px white;
    align-items: center;
    justify-items: center;
  }
  .secundario .primeraSeccion {
    grid-area: primeraSeccion;
  }
  .terciario {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .terciario p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2.5rem;
  }
  .terciario h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .terciario .resoluDesktop {
    display: flex;
  }
  .terciario .resoluDesktop .segundaSeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .terciario .resoluDesktop .segundaSeccion img {
    width: 40rem;
    height: 20rem;
  }
  .videoDelContacto {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    flex-direction: row;
  }
  .videoDelContacto p {
    padding-left: 1rem;
    color: rgba(245, 245, 220, 0.658);
    font-size: 2.5rem;
  }
  .videoDelContacto video {
    height: 30rem;
    padding-right: 1rem;
  }
  .bloqueFormu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .bloqueFormu form .input1 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input1 label {
    font-size: 4rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input1 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input2 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input2 label {
    font-size: 4rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input2 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input3 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input3 label {
    font-size: 4rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input3 input {
    width: 60%;
    height: 3rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .bloqueFormu form .input4 label {
    font-size: 4rem;
    color: rgb(167, 84, 7);
    background-color: black;
    margin-bottom: 2rem;
  }
  .bloqueFormu form .input4 textarea {
    width: 60%;
    height: 15rem;
    border: solid black 3px;
  }
  .bloqueFormu form .input4 .buttonContacto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .bloqueFormu form .input4 .buttonContacto button {
    margin-top: 3rem;
    width: 15%;
    height: 8rem;
  }
  .contenedorMapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .contenedorMapa h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    margin: 0;
    font-size: 3rem;
    background-color: black;
    margin-bottom: 3rem;
  }
  .contenedorMapa iframe {
    width: 90%;
  }
  .imagenesProdContenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .imagenesProdContenedor h3 {
    color: rgb(167, 84, 7);
    padding: 0;
    background-color: black;
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .imagenesProdContenedor p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .videosPrueba {
    display: flex;
    margin-top: 2rem;
  }
  .videosPrueba video {
    height: 30rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;
  }
  .videoLaud {
    display: flex;
    margin-top: 5rem;
  }
  .videoLaud p {
    color: rgba(245, 245, 220, 0.658);
    padding: 1rem;
    font-size: 2rem;
  }
  .videoLaud video {
    height: 30rem;
    width: 100%;
    padding-right: 2rem;
  }
  .videosClientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
  }
  .videosClientes .ukeYGuitarra {
    display: flex;
    justify-content: center;
  }
  .videosClientes .ukeYGuitarra .videoUke {
    height: 30rem;
    width: 50%;
    padding-left: 1rem;
    padding-right: 2rem;
  }
  .videosClientes .ukeYGuitarra .videoGuitarra {
    height: 30rem;
    width: 50%;
    padding-right: 1rem;
    padding-left: 2rem;
  }
}
@media (min-width: 320px) {
  footer {
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
  }
  footer .pieDePagina a {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    color: white;
  }
  footer .pieDePagina a:hover {
    color: rgb(167, 84, 7);
    background-color: black;
  }
}
@media (min-width: 600px) {
  footer {
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
  }
  footer .pieDePagina a {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2rem;
    color: white;
  }
  footer .pieDePagina a:hover {
    color: rgb(167, 84, 7);
    background-color: black;
  }
}
@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
  }
  footer .pieDePagina a {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2rem;
    color: white;
  }
  footer .pieDePagina a:hover {
    color: rgb(167, 84, 7);
    background-color: black;
  }
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
  }
  footer .pieDePagina a {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 2rem;
    /*padding: 6rem;*/
    color: white;
  }
  footer .pieDePagina a:hover {
    color: rgb(167, 84, 7);
    background-color: black;
  }
}
@media (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: center;
    height: 8rem;
    align-items: center;
  }
  footer .pieDePagina a {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 2rem;
    /*padding: 6rem;*/
    color: white;
  }
  footer .pieDePagina a:hover {
    color: rgb(167, 84, 7);
    background-color: black;
  }
}

/*# sourceMappingURL=style.css.map */
